@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-white: #f7f8f9;
    --bg-black: #131314;
}

html {
    background-color: var(--bg-white);
}

html.dark {
    background-color: var(--bg-black);
}

h1 {
    font-family: "Geologica", sans-serif;
    font-weight: 600;
    font-size: 3.375rem;
}

h2 {
    font-family: "Geologica", sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
}

h3,
h4,
h5,
h6 {
    font-family: "Geologica", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

::placeholder,
.input-text {
    font-family: "Geologica", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

p,
input,
select,
::placeholder,
.input-text {
    font-family: "Geologica", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-white);
}
.dark ::-webkit-scrollbar-track {
    background: var(--bg-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-black);
    border-radius: 5px;
}
.dark ::-webkit-scrollbar-thumb {
    background: var(--bg-white);
    border-radius: 5px;
}

.dark {
    color-scheme: dark;
}
